<% content_for :title do %>About<% end %>
<h3>About inventory1</h3>
<p>inventory1 is a simple bookkeeping app. Given an initial balance, it adds or/and substracts a transaction to provide a final balance.</p>