<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Calculation Result</h3>
    <p>
      The new balance is:
    </p>
    <p>
      <%@transaction = Transaction.new%>
      <%= @transaction.balance(@bal,@dep,@wdl) %>
    </p>
  </body>
</html>